* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange--color: #f15e2c;
    --white--color: #ffffff;
    --black-color: #000000;
    --grey-color: #cccccc;
}

@font-face {
    font-family: GeometricExtraBold;
    src: url(./fonts/URWGeometricBold.otf);
}

@font-face {
    font-family: NunitoSanRegular;
    src: url(./fonts/NunitoSans_7pt-Regular.ttf);
}

@font-face {
    font-family: NunitoSanBold;
    src: url(./fonts/NunitoSans_7pt-Bold.ttf);
}

body {
    font-family: NunitoSanRegular;
}

.nav-header .dropdown {
    font-family: GeometricExtraBold;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5em 1em;
}

.nav-header .dropdown a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-header .dropdown > a:hover {
    color: var(--orange--color) !important;
}

.nav-header .line {
    border-right: #e3e2e2 2px solid;
    margin-top: 22px;
    height: 23px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li span {
    padding-left: 8px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    color: var(--white--color);
    transition: color 0.3s ease;
}

.menu li span:hover {
    color: var(--orange--color);
}

.header .menu {
    background: #303030;
    text-align: right;
    height: 30px;
    width: 100%;
    padding: 3px 60px 0px 0px;
    overflow: hidden;
}

.slider {
    background-color: #f1f1f1;
    text-align: center;
    height: 50px;
}

.slider a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    line-height: 50px;
}

.slide-item {
    height: 800px;
    margin-left: 80px;
}

.content-text .title {
    font-family: GeometricExtraBold;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
    text-transform: uppercase;
}

.content-text .title:hover {
    color: var(--orange--color);
    cursor: pointer;
}

.item-bg {
    position: relative;
}

.item-group {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 90%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.item-group .title {
    font-family: GeometricExtraBold;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.item-group .title:hover {
    color: var(--orange--color);
    cursor: pointer;
}

.item-group .sub {
    font-family: NunitoSanBold;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.item-group .sub:hover {
    color: var(--orange--color);
    cursor: pointer;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: block;
    width: 96.4%;
    height: 100%;
}

footer {
    background-color: #555555;
    color: var(--white--color);
}

.footer-menu h4 {
    font-family: GeometricExtraBold;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6rem;
    word-spacing: 0.2rem;
}

.footer-menu li a {
    color: var(--grey-color);
    font-size: 16px;
    transition: color 0.25s;
}

.footer-menu li a:hover {
    color: var(--orange--color);
}
